
<!--
   The body of of the main html page dynamically created by Handlebars
-->

  <div class="container">
    <div class="row">
      <div class="burger-lists">
        {{#each burgers}}
          {{#unless devoured}}
            <div>
              <p class="burger-detail">{{burger_name}}<button class="btn btn-primary pull-right change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">Devour it!</button></p>
            </div>
          {{/unless}}
        {{/each}}
      </div>
      <div class="burger-create">
        <img class="sams-image" src="/assets/images/SamsBurgerJoint.png" alt="sams image" width="300" height="100">
        <h2 class="main-title">Eat-Da-Burger!</h2>
        <img src="/assets/images/Burger.png" alt="burger image" width="75" height="75">
        <form>
          <div class="form-group">
            <input type="text" id="burger-name" name="name">
          </div>
        </form>
        <button class="btn btn-primary" id="add-burger">Add Burger</button>
        <h5><p class="message"></p></h5>
      </div>
      <div class="burger-lists">
        <ul>
          {{#each burgers}}
            {{#if devoured}}
              <div>
                <p class="burger-detail">{{burger_name}}</p>
              </div>
            {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
      